###############################################################################
#
# Copyright (c) 2022, NVIDIA CORPORATION.  All Rights Reserved.
#
# NVIDIA CORPORATION and its licensors retain all intellectual property
# and proprietary rights in and to this software, related documentation
# and any modifications thereto.  Any use, reproduction, disclosure or
# distribution of this software and related documentation without an express
# license agreement from NVIDIA CORPORATION is strictly prohibited.
#
###############################################################################

# Convert yvyu ( 422packed) to bgra-packed
# 1920,1080  https://fourcc.org/pixel-format/yuv-yvyu/
# modules/imgproc/src/color.cpp

# ffmpeg -i 1719914354243_2M.jpg -s 1920x1080 -pix_fmt yvyu422   yvyu_1080_1920.yuv

SrcLayer1InputFile = yvyu_1080_1920.yuv
SrcLayer1Layout = PitchLinear
SrcLayer1ScanType = Progressive
SrcLayer1Plane1ColorFormat = Y8V8Y8U8
SrcLayer1Plane1Width = 1920
SrcLayer1Plane1Height = 1080

FileIOMode = LineByLine

DstOutputFile = 1080_1920_bgra.bin
DstLayout = PitchLinear
DstScanType = Progressive
DstPlane1ColorFormat = A8R8G8B8   
# B8G8R8A8

DstPlane1Width = 1920
DstPlane1Height = 1080

# open or not 
# DstPlaneYColorStandard = SENSOR_RGBA
